{% extends "base.html" %} 
{% block content %} 
<h1>Aatu Mikkonen</h1> 
<!-- Painikkeet tähän --> 
<p> 
    <button class="btn btn-danger">Poista</button> 
    <a href="#" class="btn btn-default">Muokkaa</a> 
</p>
<!-- Tiedot tulee listana tähän --> 
<ul> <li><strong>Julkaistu:</strong> 12.12.2016</li> 
    <li><strong>Toiminnassa:</strong> <label class="label label-danger">kesken</label></li>
</ul> 
<!-- Kuvaus tulee tähän --> 
<p>Moikka, oon eläkeläinen ja etsin kavereita tekemään ristisanoja kanssani. 
</p> 
{% endblock %} 