{% extends "base.html" %} 
{% block content %} 

<h4 align="right">
Uusi käyttäjä?
</h4>
<p align="right"> Rekisteröidy tästä </p> 
<p align="right">
<button class="btn btn-danger">Rekisteröidy</button> 
</p>

<h1>tervetuloa ystävänvälityspalveluun!</h1> 


<h2> Kirjaudu sisään </h2>
<input class="form-control" placeholder="Käyttäjätunnus" type="text">
<input class="form-control" placeholder="Salasana" type="text">
<br> 
<button class="btn btn-primary">Kirjaudu sisään</button> 
</br>

{% endblock %} 
