{% extends "base.html" %} 
{% block content %} 

<h4 align="right">
Uusi käyttäjä?
</h4>
<p align="right"> Rekisteröidy tästä </p> 
<p align="right">
<button class="btn btn-danger">Rekisteröidy</button> 
</p>

<h1>tervetuloa ystävänvälityspalveluun!</h1> 


<h2> Kirjaudu sisään </h2>
<form method="post" action="{{base_path}}/">
<div class="form-group">
    <input class="form-control" placeholder="Käyttäjätunnus" name="nimi" value="{{nimi}}" type="text">
</div>
    
    <div class="form-group">
    <input class="form-control" placeholder="Salasana" name="password" type="password">
    </div>
    
 <br> 
<button class="btn btn-primary">Kirjaudu sisään</button> 
</br>
</form>
{% endblock %} 
